{% extends 'base.html' %}

{% block content %}
    <div class="row alert alert-secondary bg-dark">
        {{ kluby }}
        <div class="col-lg-12 mt-3 mb-3">
            {% for trener in klub.trener.all %}
            <h2 class="bg-dark text-light text-center text-uppercase p-4">{{ trener.jmeno}} {{trener.prijmeni}}</h2>
            {% endfor %}
        
            <div class="row mb-3">
                <div class="col-lg-3">                  
                    {% for trener in klub.trener.all %}
                        <img src="{{ trener.fotografie.url }}" alt="{{ trener.jmeno }}" class="rounded-circle" height="300" width="230">
                    {% endfor %}
                </div>
                <div class="col-lg-9">
                    {% for trener in klub.trener.all %}
                    <div class="alert alert-secondary bg-dark text-light">
                            <h5 class="text-light ">Narozen:</h3>
                                <p class=" bg-dark text-light">{{ trener.narozeni }}</p>
                            <h5 class="text-light ">Životopis</h3>
                            <p class=" bg-dark text-light">{{ trener.biografie }}</p>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <p class="truncate-words">{{ klub.popis }}</p>
        </div>
    </div>
{% endblock %}
