{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mt-3 mb-3">
            <h2 class="bg-dark text-light text-center text-uppercase p-3">{{ nadpis }}</h2>
            
            <div class="row mb-3 container">
                {% for klub in kluby %}
                    {% if klub.foto_klubu %}
                        <div class="col-lg-4">
                            <a href="{% url 'klub_detail' pk=klub.id %}">
                                <img src="{{ klub.foto_klubu.url }}" alt="{{ klub.nazev }}" class="" height="200" width="200">
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="row mb-3 container">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="col-lg-4  mt-3 mb-3">
            <h2 class="bg-dark text-light text-center p-3">Přehled týmů</h2>
            <ul class="list-group">
            {% for klub in kluby %}
                {% if klub.nazev == nadpis %}
                <li class="list-group-item active">{{ klub.nazev }} <span class="badge badge-info"></span></li>
                {% else %}
                <li class="list-group-item"><a href="{% url 'klub_detail' pk=klub.id %}" class="text-dark">{{ klub.nazev }}</a> <span class="badge"></span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
{% endblock %}
